@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-size: 13px; 
    font-display:"Inter", sans-serif;
}

.arrow {
    display: inline-block;
    
    width: 7px;
    height: 7px;

    transform: rotate(45deg);
    margin-left: 7px;
    margin-right: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: #cacaca;
    border-bottom: none;
    border-left: none;
    
    transition: 0.5s;
}

.arrow.Rotated {

    margin-left: 10px;
    margin-right: 7px;
    margin-bottom: 2px;
    
    transform: rotate(135deg);
}

.scannerExpanderForScanner {

    
    display: flex;
    align-items: center;
    justify-items: center;
    flex-shrink: 0;
    width: 25px;
    height: 100%;
    background-color: #f6f6f6;

    border-style: hidden;
    border-radius: 6px;

}

.scannerExpanderForNotes {

    display: flex;
    align-items: center;

    padding-top: 0px;
    padding-left: 5px;
    height: 100%;
    flex-grow: 1;
    background-color: #f6f6f6;

    border-radius: 6px;
    border-style: hidden;
    border-color: #cacaca;

}


.scannerHeader {
    
    display: flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #f6f6f6;
    border-radius: 6px;
    height: 32px;

    overflow: hidden;
    background-color: #f6f6f6;
    
}


.scannerChildren {

    margin-left: 15px;
    border-left-width: 1px;
    border-left-color: #cacaca;
    border-left-style: hidden;
}


.scannerChildrenScanner {

    padding-left: 0px;

}

.scannerChildrenNotes {

    margin-left: 13px;
    padding-left: 14px;
    border-left-style: dashed;
    border-left-color: #cacaca;
    border-left-width: 1px;

}

.noteContainer {

    display: flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #f6f6f6;
    border-radius: 6px;
    height: 32px;

    background-color: #f6f6f6;
    overflow: hidden;
    
}

.noteContainer.renaming {

    border-color: #7b5bfa;

}

.note {

    display: flex;
    align-items: center;

    padding-top: 2px;
    padding-left: 5px;
    height: 100%;
    flex-grow: 1;
    background-color: #f6f6f6;

    border-radius: 6px;
    border-style: hidden;

}

.inputField {

    flex-grow: 1;

    border-width: 2px;
    border-style: hidden;
    border-color: #f6f6f6;
    border-radius: 6px;
    height: 32px;

    background-color: #f6f6f6;
    
}
